#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.first-react-group {
  font-size: xx-large;
  position: absolute;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 4px;
  left: 40px;
}